body {
background-color: #000;
}

#results {
  display: none;
}

.question {
  padding: 1.5rem;
  margin: 3rem;
  background-color: #e8d8c3;
  border-radius: 1.5rem;
}

.container {
  background: url(https://static.pexels.com/photos/34020/pexels-photo.jpg) repeat;
  background-size: cover;
}

#results {
  color: #fff;
  text-align: center;
  background-color: #000;
  margin: 5rem;
  padding: 2rem;
}

h1, h4 {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  text-shadow: .3rem .3rem .3rem #222;
}

p {
  font-weight: bold;
}

.btn-warning {
  padding: 1rem;
  margin-left: 3rem;
  margin-bottom: 10rem;
  border-radius: 1rem;
  width: 25rem;
  color: #000;
  font-weight: bolder;
}
