#results {
  display: none;
}

.question {
  padding: .75rem;
  margin: 3rem;
    background-color: #e8d8c3;
    border-radius: 1.5rem;
}

.container {
  background: url(https://static.pexels.com/photos/34020/pexels-photo.jpg) repeat;
  background-size: cover;
}

h1, h3 {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  text-shadow: .5rem .5rem .5rem #222;
}
}

p {
  font-weight: bold;
};
